.carrito {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 3rem;
}

.contador {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 50%;
    background: rgba(252, 243, 207 );
    color: rgba(22, 22, 21, 0.877);
}