div.itemcount_container {
    display: flex;
    align-items: center;
}

div.itemcount_control {
    display: flex;
    justify-content: start;
    align-items: center;
}

span.itemcount_count {
    margin-left: 30%;
    font-size: 2rem;
}

.itemcount_btns {
    margin-left: 11rem;
} 

h4 {
    font-size: 1rem;
}

.btn {
    background-color: rgba(210, 105, 30, 0.849);
    font-weight: bold;
    font-family: cursive;
}

