button {
  margin-left: 8rem;
  border-radius: 10%;
  border-color: rgb(116, 99, 68);
  padding: 0.7rem;
}

/* .productos__tarjeta-final {
    
} */

.productos__tarjeta-final-contador {
    display: flex;
    justify-content: center;
}