div.itemcount_control {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 6rem;
}

span.itemcount_count {
    margin-left: 20%;
    font-size: 2rem;
}

.itemcount_btns {
    margin-left: 11rem;
} 

h4 {
    font-size: 1rem;
}

h2 {
    justify-content: flex-start;
}