
html {
    box-sizing: border-box;
    font-size: 62.5%;
        /** reset para REMS- 62.5% = 10px de 16px **/ }
      
*,
*:before,
*:after {
    box-sizing: border-box; }
      
      /** globales **/
img {
    max-width: 100%; }


.item-list-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h5 {
    text-align: center;
    font-size: 2rem;
    color: rgba(212, 168, 45, 0.418);
}