.productos-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem;
}
h4 {
    margin-left: 10rem;
}

ul li a {
    display: flex;
    justify-content: center;
}

.item-list {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.b-item-list {
    padding: 0.5rem 4rem;
}

.item-card:hover{
    box-shadow: 0px 6px 5px #dedede;
    transform: translateY(-10px);
  }

img {
    height: 200px;
    width: 300px;
    border-radius: 3%;
    box-shadow: -1px 20px 7px -6px rgba(66,50,50,0.69);
-webkit-box-shadow: -1px 20px 7px -6px rgba(66,50,50,0.69);
-moz-box-shadow: -1px 20px 7px -6px rgba(66,50,50,0.69);
}

button {
    padding: 0.5rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    border-color: grey;
    cursor: pointer;
}

.item-card {
    list-style: none;
    margin: 1rem;
    background-color: rgb(231, 196, 144);
    padding: 1rem;
    border-radius: 5%;
    
}
