body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** reset para REMS- 62.5% = 10px de 16px **/ }

*,
*:before,
*:after {
  box-sizing: border-box; }
